@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #99EA48;
    --primary: white;
    --secondary: black;
    --tertiary: #555;
}

@layer base {
    body {
        font-family: "Plus Jakarta Sans", sans-serif;
        @apply text-secondary
    }
    h1,h2,h3,h4,h5,h6{@apply text-secondary}
    p, span{@apply text-tertiary}
}

@layer utilities {
    .btn {
        @apply py-4 px-6 font-bold text-sm rounded-full bg-transparent cursor-pointer relative;
        outline: none;
        transition:  
            stroke-dashoffset 0.7s ease-in-out, 
            stroke-dasharray 0.7s ease-in-out, 
            stroke-width 0.7s ease-in-out;
    }

    .svg {
        @apply absolute inset-0 w-full h-full;
    }

    .bg-line {
        fill: transparent;
        stroke-width: 2;
        transition:  
            stroke-dashoffset 0.7s ease-in-out, 
            stroke-dasharray 0.7s ease-in-out, 
            stroke-width 0.7s ease-in-out;
    }

    .hl-line {
        fill: transparent;
        stroke: var(--accent); /* Tailwind green-500 */
        stroke-width: 2;
        stroke-dasharray: 480;
        stroke-dashoffset: 480;
        transition:  
            stroke-dashoffset 0.7s ease-in-out, 
            stroke-dasharray 0.7s ease-in-out, 
            stroke-width 0.7s ease-in-out;
    }

    .btn:hover .bg-line {
        opacity: 0;
    }

    .btn:hover .hl-line {
        stroke-dashoffset: 0;
    }

    .btn span {
        @apply relative z-10;
    }
}

